<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Улучшения</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="upgrade-page"> <!-- Добавлен класс friends-page -->

<div class="up_text">
    <p>Улучшения</p>
</div>

<div class="icon-container">
    <img src="/static/images/icon.png" alt="Иконка" width="75">
</div>
<p id="nick">Максим</p>


<div class="image-container">
    <div class="image-item">
        <span class="image-text">10000</span>
        <img src="/static/images/coin.png" alt="Картинка 1">
    </div>
    <div class="image-item">
        <span class="image-text">3000</span>
        <img src="/static/images/bling.png" alt="Картинка 2">
    </div>
</div>

<div class="dropdown">
    <img src="/static/images/menu.png" alt="Меню" id="menu-icon">

    <!-- Выпадающее меню -->
    <div class="dropdown-menu" id="dropdown-menu">
        <a href="#item1">Язык</a>
        <a href="#item2">Как играть</a>
        <a href="#item3">Аирдроп</a>
        <a href="#item4">Тех поддержка</a>
    </div>
</div>



<div class="box_1" id="box1">
    <img src="/static/images/click.png" width="80" class="box1">
    <span class="text_box1">Клик по экрану</span>
    <br>
    <span class="text_box11">Ты получаешь больше <br>монет за 1 нажатие</span>
    <div class="coin_container">
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
        <span class="coin_text">1000</span>
    </div>
</div>

<!-- Скрытое меню -->
<div class="menu" id="menu" style="display: none;">
    <img src="/static/images/box_1.png" alt="Ящик" class="menu_box_image">
    <div class="coin_display">
        <span class="coin_text">1000</span>
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
    </div>
    <button id="buyButton" class="buy_button">Купить</button>
</div>


<div class="box_2" id="box2">
    <img src="/static/images/energy.png" width="80" class="box2">
    <span class="text_box2">Энергия</span>
    <br>
    <span class="text_box22">Увеличивает энергию на 500  <br> единиц </span>
    <div class="coin_container">
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
        <span class="coin_text">1000</span>
    </div>
</div>

<!-- Скрытое меню для второго ящика -->
<div class="menu" id="menu2" style="display: none;">
    <img src="/static/images/box_2.png" alt="Ящик" class="menu_box_image">
    <div class="coin_display">
        <span class="coin_text">1000</span>
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
    </div>
    <button id="buyButton2" class="buy_button">Купить</button>
</div>
</div>

<div class="box_3" id="box3">
    <img src="/static/images/energy_regen.png" width="80" class="box3">
    <span class="text_box3">Восстановление энергии</span>
    <br>
    <span class="text_box33">Энергия восстанавливается <br> быстрее</span>
    <div class="coin_container">
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
        <span class="coin_text">1000</span>
    </div>
</div>

<!-- Скрытое меню для третьего ящика -->
<div class="menu" id="menu3" style="display: none;">
    <img src="/static/images/box_3.png" alt="Ящик" class="menu_box_image">
    <div class="coin_display">
        <span class="coin_text">1000</span>
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
    </div>
    <button id="buyButton3" class="buy_button">Купить</button>
</div>


<div class="box_4" id="box4">
    <img src="/static/images/jackpot.png" width="80" class="box4">
    <span class="text_box4">Шанс на Джекпот</span>
    <br>
    <span class="text_box44">Увеличивает вероятность <br> джекпота</span>
    <div class="coin_container">
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
        <span class="coin_text">1000</span>
    </div>
</div>

<!-- Скрытое меню для четвертого ящика -->
<div class="menu" id="menu4" style="display: none;">
    <img src="/static/images/box_4.png" alt="Ящик" class="menu_box_image">
    <div class="coin_display">
        <span class="coin_text">1000</span>
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
    </div>
    <button id="buyButton4" class="buy_button">Купить</button>
</div>





<div class="menu_p3">
    <a href="/page3" class="item">
        <img src="/static/images/button_menu.png" width="110" alt="Image 1" class="image">
    </a>
    <a href="/page6" class="item">
        <img src="/static/images/button_menu_2.png" width="110" alt="Image 2" class="image">
    </a>
    <a href="/page7" class="item">
        <img src="/static/images/button_menu.png" width="110" alt="Image 3" class="image">
    </a>
</div>


    <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

{% include '_nav.html' %}
</body>
</html>