<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <a href="/page3" class="item">
        <img src="/static/images/button_menu.png" alt="Image 1" class="image">
    </a>
    <a href="/boss1" class="item">
        <img src="/static/images/button_menu_2.png" alt="Image 2" class="image">
    </a>
    <a href="/page7" class="item">
        <img src="/static/images/button_menu_3.png" alt="Image 3" class="image">
    </a>
</div>



<div class="box_1">
    <img src="/static/images/box_1.png" width="180">
</div>



<script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
{% include '_nav.html' %}
</body>
</html>