<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Миры</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="button-container">
    <button class="button top">Кнопка сверху</button>
    <button class="button left">Кнопка слева</button>
    <button class="button right">Кнопка справа</button>
    <button class="button bottom">Кнопка снизу</button>
    <button class="button center">Кнопка посередине</button>
</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
      <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
    {% include '_nav.html' %}
</body>
</html>