<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Герои</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="heroes-page"> <!-- Добавлен класс friends-page -->

<div class="icon-container">
    <img src="/static/images/icon.png" alt="Иконка" width="75">
</div>
<p id="nick">Максим</p>

<p id="score"><span id="currentScore">0</span></p>
<div class="coin">
    <img src="/static/images/coin.png" alt="Монеты" width="80">
</div>



<div class="dropdown">
    <img src="/static/images/menu.png" alt="Меню" id="menu-icon">

    <!-- Выпадающее меню -->
    <div class="dropdown-menu" id="dropdown-menu">
        <a href="#item1">Язык</a>
        <a href="#item2">Как играть</a>
        <a href="#item3">Аирдроп</a>
        <a href="#item4">Тех поддержка</a>
    </div>
</div>


<div class="menu_p3">
    <a href="/page3" class="item">
        <button class="menu-button">Ящики</button>
    </a>
    <a href="/page6" class="item">
        <button class="menu-button">Герои</button>
    </a>
    <a href="/upgrade" class="item">
        <button class="menu-button">Улучшения</button>
    </a>
</div>


<div class="character-preview">
<div class="preview" id="preview">
  <img src="/static/images/croco.png" alt="Preview">
  <p id="preview-name">Character 1</p>
  <p id="character-description">Description of Character 1</p>
</div>

<div class="menu_char">
  <div class="character" data-id="1" data-name="Character 1" data-img="/static/images/croco.png" data-description="This is Croco, a brave explorer!">
    <img src="/static/images/croco.png" alt="Character 1">
    <p>Character 1</p>
  </div>
  <div class="character" data-id="2" data-name="Character 2" data-img="/static/images/cot.png" data-description="Meet Cot, a clever strategist.">
    <img src="/static/images/cot.png" alt="Character 2">
    <p>Character 2</p>
  </div>
  <div class="character" data-id="3" data-name="Character 3" data-img="/static/images/groot.png" data-description="Groot is a strong and silent protector.">
    <img src="/static/images/groot.png" alt="Character 3">
    <p>Character 3</p>
  </div>
  <div class="character" data-id="4" data-name="Character 4" data-img="/static/images/golem.png" data-description="Golem is made of stone but has a heart of gold.">
    <img src="/static/images/golem.png" alt="Character 4">
    <p>Character 4</p>
  </div>
  <div class="character" data-id="5" data-name="Character 5" data-img="/static/images/fire.png" data-description="Fire is a blazing warrior full of passion.">
    <img src="/static/images/fire.png" alt="Character 5">
    <p>Character 5</p>
  </div>
  <div class="character" data-id="6" data-name="Character 6" data-img="/static/images/water.png" data-description="Water is calm and adaptable, flowing through challenges.">
    <img src="/static/images/water.png" alt="Character 6">
    <p>Character 6</p>
  </div>
</div>
<button id="select-button">Выбрать</button>



<div class="menu_rare">
    <button onclick="window.location.href='/page6'" class="menu-button">Редкие</button>
    <button onclick="window.location.href='/page9'" class="menu-button">Премиум</button>
    <button onclick="window.location.href='/page10'" class="menu-button">Эксклюзив</button>
</div>


  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
  <script src="{{ url_for('static', filename='script_heroes.js') }}"></script>
  <script src="{{ url_for('static', filename='script_box.js') }}"></script>
{% include '_nav.html' %}
</body>
</html>