<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кликер Бравл Старс</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <a href="/page3" class="item">
        <img src="/static/images/button_menu.png" alt="Image 1" class="image">
    </a>
    <a href="/page6" class="item">
        <img src="/static/images/button_menu_2.png" alt="Image 2" class="image">
    </a>
    <a href="/page7" class="item">
        <img src="/static/images/button_menu_3.png" alt="Image 3" class="image">
    </a>
</div>


<p class="page3_text_2">Здесь ты можешь купить себе <br>
    новый скин который даст </br>
    тебе дополнительный бонус!<br></p>

<div class="colt_gide">
    <img src="/static/images/colt_5.png" width="200">
</div>
<div class="dialog">
    <img src="/static/images/dialog.png" width="120">
</div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
{% include '_nav.html' %}
</body>
</html>