<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>Heroes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Навигация -->
<div class="navigation" id="menu">
  <a href="#" class="nav-button active" data-page="play">
    <figure>
      <img src="static/images/play.png" alt="Играть" width="15" height="15">
      <figcaption>Играть</figcaption>
    </figure>
  </a>
  <a href="#" class="nav-button" data-page="friends">
    <figure>
      <img src="static/images/friends_7.png" alt="Друзья" width="15" height="15">
      <figcaption>Друзья</figcaption>
    </figure>
  </a>
  <a href="#" class="nav-button" data-page="shop">
    <figure>
      <img src="static/images/shop.png" alt="Магазин" width="15" height="15">
      <figcaption>Магазин</figcaption>
    </figure>
  </a>
  <a href="#" class="nav-button" data-page="quests">
    <figure>
      <img src="static/images/quests.png" alt="Квесты" width="15" height="15">
      <figcaption>Квесты</figcaption>
    </figure>
  </a>
  <a href="#" class="nav-button" data-page="top">
    <figure>
      <img src="static/images/boss.png" alt="Топ" width="15" height="15">
      <figcaption>Босс</figcaption>
    </figure>
  </a>
</div>

<div id="content">
  <!-- Играть -->
  <div class="page" id="play" style="display:block;">
  <!-- Элементы для первой секции -->
  <p id="score"><span id="currentScore">0</span></p>

  <div class="coin">
    <img src="/static/images/coin.png" alt="Монеты">
  </div>

  <!-- Контейнер для анимации монет -->
  <div id="coinContainer"></div> <!-- Контейнер для монет с анимацией -->

  <img id="clickButton" onclick="spawnCoins(event)">

  <div class="icon-container">
    <img src="/static/images/icon.png" alt="Иконка" width="75">
  </div>

  <p id="nick">Максим</p>

    <!-- Полоса прогресса -->
    <div class="progress-container">
      <div class="progress-bar" id="progressBar"></div>
    </div>

    <div class="progress-label" id="progressLabel"></div>

    <!-- Полоса энергии -->
    <div class="energy-container">
      <div class="energy-bar" id="energyBar">1000</div>
    </div>
      <div class="dropdown">
    <img src="/static/images/menu.png" alt="Меню" id="menu-icon">

    <!-- Выпадающее меню -->
    <div class="dropdown-menu" id="dropdown-menu">
        <a href="#item1">Язык</a>
        <a href="#item2">Как играть</a>
        <a href="#item3">Аирдроп</a>
        <a href="#item4">Тех поддержка</a>
    </div>
  </div>
</div>

  <!-- Друзья -->
  <div class="page" id="friends" style="display:none;">
<div class="invite-container">
    <div class="coin-stack">
        <img src="/static/images/coin.png" alt="Coins" class="coins">
    </div>
    <div class="invite-text">
        <div class="title">Пригласить друга</div>
        <div class="reward">
            <img src="/static/images/coin.png" alt="Coin" class="coin-icon">
            <span class="reward-amount">+5,000</span>
        </div>
    </div>
</div>

<div class="up_text">
    <p>Список ваших друзей</p>
</div>

  <div class="friend-list">
    <div class="friend-card">
      <img src="/static/images/colt_av.png" alt="Avatar">
      <div class="friend-info">Ник - уровень</div>
    </div>
    <div class="friend-card">
      <img src="/static/images/colt_av.png" alt="Avatar">
      <div class="friend-info">Ник - уровень</div>
    </div>
    <div class="friend-card">
      <img src="/static/images/colt_av.png" alt="Avatar">
      <div class="friend-info">Ник - уровень</div>
    </div>
  </div>

<div class="invitation-container">
  <div class="header">
    <h1>Ваши друзья</h1>
    <h2 class="friends-count">0 ДРУЗЕЙ</h2>
    <button class="how-it-works">Доход с друзей</button>
  </div>
</div>
  </div>

<!-- Магазин -->
  <div class="page" id="shop" style="display:none;">
<p id="score"><span id="currentScore">0</span></p>
<div class="coin">
    <img src="/static/images/coin.png" alt="Монеты" width="80">
</div>

<nav class="shop_menu">
  <ul>
    <li class="shop_menu-item">
      <a href="#" onclick="loadContent('special')">Особое</a>
    </li>
    <li class="shop_menu-item">
      <a href="#" onclick="loadContent('heroes')">Герои</a>
    </li>
    <li class="shop_menu-item">
      <a href="#" onclick="loadContent('upgrades')">Улучшения</a>
    </li>
  </ul>
</nav>

<!-- Контейнер для контента -->
<div id="contentContainer">
  <!-- Контент будет загружаться сюда -->
</div>

<div class="shop_container">
    <!-- Первая строка -->
    <div class="shop_box">
        <div class="shop_discount">ЛУЧШЕЕ</div> <!-- Добавлено для метки -->
        <div class="shop_icon">
            <img src="/static/images/box_1.png" alt="Сундук">
        </div>
        <h1>Сундук героя</h1>
        <h2>здесь новый перс</h2>
        <div class="shop_price">
            <img src="/static/images/coin.png" alt="coin"> <span>10000</span>
        </div>
    </div>
    <div class="shop_box_2">
        <div class="shop_icon">
            <img src="/static/images/box_1.png" alt="Сундук">
        </div>
        <h1>Сундук героя</h1>
        <h2>здесь новый перс</h2>
        <div class="shop_price">
            <img src="/static/images/stars.png" alt="coin"> <span>100</span>
        </div>
    </div>
    <div class="shop_box_3">
        <div class="shop_icon">
            <img src="/static/images/box_3.png" alt="Сундук">
        </div>
        <h1>Сундук героя</h1>
        <h2>здесь новый перс</h2>
        <div class="shop_price">
            <img src="/static/images/stars.png" alt="coin"> <span>100</span>
        </div>
    </div>

    <!-- Вторая строка -->
    <div class="shop_box_4">
        <div class="shop_icon">
            <img src="/static/images/box_3.png" alt="Сундук">
        </div>
        <h1>Сундук мастера</h1>
        <h2>содержит редкий лут</h2>
        <div class="shop_price">
            <img src="/static/images/coin.png" alt="coin"> <span>20000</span>
        </div>
    </div>
    <div class="shop_box_5">
        <div class="shop_icon">
            <img src="/static/images/box_3.png" alt="Сундук">
        </div>
        <h1>Сундук мастера</h1>
        <h2>содержит редкий лут</h2>
        <div class="shop_price">
            <img src="/static/images/stars.png" alt="coin"> <span>200</span>
        </div>
    </div>
    <div class="shop_box_6">
        <div class="shop_icon">
            <img src="/static/images/box_3.png" alt="Сундук">
        </div>
        <h1>Сундук мастера</h1>
        <h2>содержит редкий лут</h2>
        <div class="shop_price">
            <img src="/static/images/stars.png" alt="coin"> <span>200</span>
        </div>
    </div>
</div>
  </div>
        <!-- Квесты -->
  <div class="page" id="quests" style="display:none;">
<div class = 'quests_text'>
<p>Основные задачи</p>
</div>

<div class = 'quests_text_2'>
<p>Дополнительные задачи</p>
</div>

<div class = 'quests_text_3'>
<p>Игровые задачи</p>
</div>

<div class="card">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Подпишись на наш телеграм канал</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            50 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_2">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Пригласи 5 друзей</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            100 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_3">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Подключи свой кошелек</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            150 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_4">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Подпишись на тг Павла Дурова</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            200 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_5">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Сыграй в мини-игру</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
           30 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_6">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Открой 5 новых миров</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            200 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>
  </div>
            <!-- Босс -->
  <div class="page" id="top" style="display:none;">
  </div>
</div>

<script src="{{ url_for('static', filename='script_new.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='script.heroes') }}"></script>
<script src="{{ url_for('static', filename='script.up') }}"></script>



</body>
</html>