<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Квесты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class = 'quests_text'>
<p>Игровые задачи</p>
</div>


<div class = 'quests_text_2'>
<p>Основные задачи</p>
</div>


<div class = 'quests_text_3'>
<p>Бонус задачи</p>
</div>


<div class = 'quests_text_4'>
<p>Доп задачи</p>
</div>



<div class="card">
    <img src="/static/images/shelly_av.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Победи Босса</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            3 200 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_2">
    <img src="/static/images/shelly_av.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Пригласи 5 друзей</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            1 500 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_3">
    <img src="/static/images/shelly_av.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Пригласи 10 друзей</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            1 500 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_4">
    <img src="/static/images/shelly_av.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Пригласи 100 друзей</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            1 500 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
    {% include '_nav.html' %}
</body>
</html>