<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="shop-page"> <!-- Добавлен класс friends-page -->

<div class="menu_p3">
    <a href="/page3" class="item">
        <button class="menu-button">Ящики</button>
    </a>
    <a href="/page6" class="item">
        <button class="menu-button">Герои</button>
    </a>
    <a href="/upgrade" class="item">
        <button class="menu-button">Улучшения</button>
    </a>
</div>

<div class="icon-container">
    <img src="/static/images/icon.png" alt="Иконка" width="75">
</div>
<p id="nick">Максим</p>

<!-- Модальное окно для уведомления о недостатке монет -->
<div id="insufficientFundsModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span id="closeModalButton" class="close-button">&times;</span>
        <p>У вас не хватает монет для покупки!</p>
    </div>
</div>


<p id="score"><span id="currentScore">0</span></p>
<div class="coin">
    <img src="/static/images/coin.png" alt="Монеты" width="80">
</div>
<div class="dropdown">
    <img src="/static/images/menu.png" alt="Меню" id="menu-icon">

    <!-- Выпадающее меню -->
    <div class="dropdown-menu" id="dropdown-menu">
        <a href="#item1">Язык</a>
        <a href="#item2">Как играть</a>
        <a href="#item3">Аирдроп</a>
        <a href="#item4">Тех поддержка</a>
    </div>
</div>

<div class = "spec">Спец предложения дня</div>

<div class="shop_container">
<div class="shop_box">
    <div class="shop_icon">
        <img src="/static/images/box_1.png" alt="Сундук">
    </div>
    <h1>Сундук героя</h1>
    <h2>здесь новый перс</h2>
    <div class="shop_price">
        <img src="/static/images/coin.png" alt="coin"> <span>10000</span>
    </div>
</div>
<div class="shop_box_2">
    <div class="shop_icon">
        <img src="/static/images/box_1.png" alt="Сундук">
    </div>
    <h1>Сундук героя</h1>
    <h2>здесь новый перс</h2>
    <div class="shop_price">
        <img src="/static/images/stars.png" alt="coin"> <span>100</span>
        </div>
    </div>
</div>

<div class="menu-container_scroll">
        <div class="menu_scroll">
            <img src="/static/images/box_1.png" alt="Изображение 1">
            <img src="/static/images/box_2.png" alt="Изображение 2">
            <img src="/static/images/box_3.png" alt="Изображение 3">
            <img src="/static/images/box_4.png" alt="Изображение 4">
            <!-- Добавьте другие изображения по желанию -->
        </div>
    </div>



<script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
  <script src="{{ url_for('static', filename='script_box.js') }}"></script>
{% include '_nav.html' %}
</body>
</html>