<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="shop-page"> <!-- Добавлен класс friends-page -->

<p id="score"><span id="currentScore">0</span></p>
<div class="coin">
    <img src="/static/images/coin.png" alt="Монеты" width="80">
</div>


<nav class="shop_menu">
        <ul>
            <li class="shop_menu-item">
                <a href="/page3">Особое</a>
            </li>
            <li class="shop_menu-item">
                <a href="/page6">Герои</a>
            </li>
            <li class="shop_menu-item">
                <a href="/upgrade">Улучшения</a>
            </li>
            <li class="shop_menu-item">
                <a href="#">Инвентарь</a>
            </li>
        </ul>
    </nav>



<div class="shop_container">
<div class="shop_box">
    <div class="shop_icon">
        <img src="/static/images/box_1.png" alt="Сундук">
    </div>
    <h1>Сундук героя</h1>
    <h2>здесь новый перс</h2>
    <div class="shop_price">
        <img src="/static/images/coin.png" alt="coin"> <span>10000</span>
    </div>
</div>
<div class="shop_box_2">
    <div class="shop_icon">
        <img src="/static/images/box_1.png" alt="Сундук">
    </div>
    <h1>Сундук героя</h1>
    <h2>здесь новый перс</h2>
    <div class="shop_price">
        <img src="/static/images/stars.png" alt="coin"> <span>100</span>
        </div>
    </div>
</div>





<script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
  <script src="{{ url_for('static', filename='script_box.js') }}"></script>
{% include '_nav.html' %}
</body>
</html>