<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кликер Бравл Старс</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Кликер Бравл Старс</h1>
    <button id="button1">Топ игроков по монетам</button>
    <button id="button2">Топ клубов</button>

<div class="rectangle"></div>
<div class="rectangle"></div>
<div class="rectangle"></div>
<div class="rectangle"></div>



    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% include '_nav.html' %}
</body>
</html>