<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Друзья</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="friends_6">
    <h1>Пригласите друзей</h1>
    <p>вы и ваш друг получите бонусы</p>
</div>

<div class="friends_3">
    <img src="/static/images/friends_3.png" width="320">
</div>

<div class="friends_5">
    <img src="/static/images/friends_4.png" width="320">
</div>

<div class="friends_4">
    <p>Список ваших друзей</p>
</div>

  <div class="friend-list">
    <div class="friend-card">
      <img src="/static/images/colt_av.png" alt="Avatar">
      <div class="friend-info">Ник - уровень</div>
    </div>
    <div class="friend-card">
      <img src="/static/images/colt_av.png" alt="Avatar">
      <div class="friend-info">Ник - уровень</div>
    </div>
    <div class="friend-card">
      <img src="/static/images/colt_av.png" alt="Avatar">
      <div class="friend-info">Ник - уровень</div>
    </div>
  </div>

    <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
{% include '_nav.html' %}
</body>
</html>