<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Друзья</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="friends_6">
    <img src="/static/images/friends_6.png" width="320">
</div>
<div class="friends_3">
    <img src="/static/images/friends_3.png" width="320">
</div>

<div class="friends_4">
    <img src="/static/images/friends_4.png" width="320">
</div>
<div class="friends_5">
    <img src="/static/images/friends_5.png" width="320">
</div>

    <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
{% include '_nav.html' %}
</body>
</html>