<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 7</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <a href="/page3" class="item">
        <img src="/static/images/button_menu.png" alt="Image 1" class="image">
    </a>
    <a href="/page6" class="item">
        <img src="/static/images/button_menu_2.png" alt="Image 2" class="image">
    </a>
    <a href="/page7" class="item">
        <img src="/static/images/button_menu_3.png" alt="Image 3" class="image">
    </a>
</div>



<button onclick="changeBackgroundImage('theme_2.png')">Сменить фон на theme_2.png</button>
<button onclick="changeBackgroundImage('theme_3.png')">Сменить фон на theme_3.png</button>
<button onclick="changeBackgroundImage('theme_4.png')">Сменить фон на theme_4.png</button>
<button onclick="changeBackgroundImage('theme_5.png')">Сменить фон на theme_5.png</button>
<button onclick="changeBackgroundImage('theme_6.png')">Сменить фон на theme_6.png</button>


<button onclick="changeBackgroundImage('theme_10.png')">Сменить фон на theme_10.png</button>
<button onclick="changeBackgroundImage('theme_11.png')">Сменить фон на theme_11.png</button>
<button onclick="changeBackgroundImage('theme_12.png')">Сменить фон на theme_12.png</button>
<button onclick="resetBackground()">Сбросить фон на стандартный</button>

    <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

{% include '_nav.html' %}
</body>
</html>