<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Улучшения</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="shop-page"> <!-- Добавлен класс friends-page -->



<div class="icon-container">
    <img src="/static/images/icon.png" alt="Иконка" width="75">
</div>
<p id="nick">Максим</p>


<!-- Модальное окно для уведомления о недостатке монет -->
<div id="insufficientFundsModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span id="closeModalButton" class="close-button">&times;</span>
        <p>У вас не хватает монет для покупки!</p>
    </div>
</div>


<p id="score"><span id="currentScore">0</span></p>
<div class="coin">
    <img src="/static/images/coin.png" alt="Монеты" width="80">
</div>
<div class="dropdown">
    <img src="/static/images/menu.png" alt="Меню" id="menu-icon">

    <!-- Выпадающее меню -->
    <div class="dropdown-menu" id="dropdown-menu">
        <a href="#item1">Язык</a>
        <a href="#item2">Как играть</a>
        <a href="#item3">Аирдроп</a>
        <a href="#item4">Тех поддержка</a>
    </div>
</div>

<div class = 'up_text'>
<p>Первый мир</p>
</div>

<div class="up_1" id="up1">
    <img src="/static/images/click.png" width="80" class="box1">
    <span class="text_box1">Автокликер</span>
    <br>
    <span class="text_box11">Автоматически <br> фармит монеты 5ч</span>
    <div class="coin_container">
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
        <span class="coin_text">70000</span>
    </div>
</div>

<!-- Меню сундука -->
<div class="fullscreen_menu" id="click_box" style="display: none;">
    <div class="menu_content">
        <h2>Сундук героя</h2>
        <img src="/static/images/box_1.png" alt="Ящик" class="menu_box_image">
        <div class="coin_display">
            <span class="coin_text_2">1000</span>
            <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
        </div>
        <button id="buyButton1" class="buy_box">Купить</button>
        <button id="closeBoxButton" class="close_button">Закрыть</button>
    </div>
</div>

<!-- Меню с выпавшими предметами -->
<div class="rewards_menu" id="rewardsMenu" style="display: none;">
    <div class="rewards_content">
        <h2>Вы получили:</h2>
        <div id="rewardsItems">
            <!-- Здесь появится один выпавший предмет -->
        </div>
        <button id="closeRewardsButton" class="close_button">Закрыть</button>
    </div>
</div>

<div class="up_2" id="up2">
    <img src="/static/images/rocket.png" width="80" class="box2">
    <span class="text_box2">Ракета</span>
    <br>
    <span class="text_box22">Увеличивает количество <br>получаемых монет на 1 минуту </span>
    <div class="coin_container">
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
        <span class="coin_text">10000</span>
    </div>
</div>

<!-- Скрытое меню для второго ящика -->
<div class="menu" id="menu2" style="display: none;">
    <img src="/static/images/box_2.png" alt="Ящик" class="menu_box_image">
    <div class="coin_display">
        <span class="coin_text">1000</span>
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
    </div>
    <button id="buyButton2" class="buy_button">Купить</button>
</div>
</div>

<div class="up_3" id="up3">
    <img src="/static/images/energy_regen.png" width="80" class="box3">
    <span class="text_box3">Энергия</span>
    <br>
    <span class="text_box33"> Сверхбыстрая регенерация на 1ч</span>
    <div class="coin_container">
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
        <span class="coin_text">20000</span>
    </div>
</div>

<!-- Скрытое меню для третьего ящика -->
<div class="menu" id="menu3" style="display: none;">
    <img src="/static/images/box_3.png" alt="Ящик" class="menu_box_image">
    <div class="coin_display">
        <span class="coin_text">1000</span>
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
    </div>
    <button id="buyButton3" class="buy_button">Купить</button>
</div>


<div class = 'up_text2'>
<p>Второй мир</p>
</div>

<div class="up_4" id="up4">
    <img src="/static/images/energy_lighty.png" width="80" class="box3">
    <span class="text_box3">Энергия света</span>
    <br>
    <span class="text_box33">Автокликер на 6ч</span>
    <div class="coin_container">
        <img src="/static/images/coin.png" width="20" alt="Монета" class="coin_icon">
        <span class="coin_text">0</span>
    </div>
</div>


<div class="menu_p3">
    <a href="/page3" class="item">
        <button class="menu-button">Ящики</button>
    </a>
    <a href="/page6" class="item">
        <button class="menu-button">Герои</button>
    </a>
    <a href="/upgrade" class="item">
        <button class="menu-button">Улучшения</button>
    </a>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
  <script src="{{ url_for('static', filename='script_box.js') }}"></script>
{% include '_nav.html' %}
</body>
</html>