<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Улучшения</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="up_page">

<div class="container_up">
  <div class="item_up">
    <div class="item-icon">🤖</div>
    <div class="item-info">
      <p class="item-title">Кликер-бот</p>
      <p class="item-details">2,000 / 1ч • Уровень 1</p>
    </div>
    <div class="item-action">></div>
  </div>
  <div class="item_up2">
    <div class="item-icon">⚔️</div>
    <div class="item-info">
      <p class="item-title">Клик</p>
      <p class="item-details">4,000 • Уровень 1</p>
    </div>
    <div class="item-action">></div>
  </div>
  <div class="item_up3">
    <div class="item-icon">⚡</div>
    <div class="item-info">
      <p class="item-title">Запас энергии</p>
      <p class="item-details">100 • Уровень 1</p>
    </div>
    <div class="item-action">></div>
  </div>
  <div class="item_up4">
    <div class="item-icon">🔄</div>
    <div class="item-info">
      <p class="item-title">Скорость перезарядки</p>
      <p class="item-details">100 • Уровень 1</p>
    </div>
    <div class="item-action">></div>
  </div>
</div>


<div class="background">
    <!-- Слой затемнения -->
    <div class="overlay" style="display: none;"></div>

    <!-- Окно -->
    <div class="container_up_buy" style="display: none;">
        <!-- Кнопка закрытия -->
        <button class="close-button">&times;</button>

        <!-- Картинка сверху -->
        <div class="top-image">
            <img src="/static/images/croco.png" alt="Символ" />
        </div>

        <div class="character_up_buy"></div>
        <h1 class="title">СКОРОСТЬ<br>ВОССТАНОВЛЕНИЯ<br>ЭНЕРГИИ</h1>
        <p class="description">
            Приобретите зелье восстановления, чтобы<br>
            увеличить скорость восполнения энергии.<br>
            Прокачайте навык до максимума!
        </p>
        <div class="price_up_buy">
            <!-- Картинка монеты -->
            <img class="coin-icon" src="/static/images/coin.png" alt="Монета" />
            <span class="coin">2,000</span>
        </div>
        <button class="upgrade-button">УЛУЧШИТЬ</button>
    </div>
</div>

<div class="menu_p3">
    <a href="/page3" class="item">
        <button class="menu-button">Ящики</button>
    </a>
    <a href="/page6" class="item">
        <button class="menu-button">Герои</button>
    </a>
    <a href="/upgrade" class="item">
        <button class="menu-button">Улучшения</button>
    </a>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='script_theme.js') }}"></script>
<script src="{{ url_for('static', filename='script_up.js') }}"></script>

{% include '_nav.html' %}
</body>
</html>
